.body {
    background-image: url('../img/sfondo.png');
}

.header {
    text-align: center;
    background: linear-gradient(0deg, rgba(3,109,134,1) 0%, rgba(0,156,194,1) 100%);
    padding: 1em;
}

.header nav ul{
    list-style-type: none;
}

.header img {
    width: 50%;
}

.header p, .header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.header nav ul li a span {
    font-size: xx-small;
}

.header nav ul {
    padding: 0;
    margin-bottom: 0;
}

